.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}
main {
  margin: 20px;
  overflow-y: scroll;
}
footer{
  background-color: #282c34;
  height: 50px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.movie-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
