.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}
.App-header {
  height: 15vh;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  width: 100vw;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  box-shadow: 1px 5px 20px 1px lightgrey;
}
main {
  padding-top: 15vh;
}
.sort-bar {
  background-color: transparent !important;
}
.sort-bar select {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
}
.App-header h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  margin-left: 100px;
  margin-right: 100px;
  overflow-y: scroll;
  height: 82vh;
}
footer{
  background-color: #282c34;
  height: 3vh;
  color: white;
}

@media (min-width: 375px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
