.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  display: flex;
  color: white;
  height: 7vh;
  justify-content: center;
}
main {
  margin-left: 100px;
  margin-right: 100px;
  overflow-y: scroll;
  height: 90vh;
}
footer{
  background-color: #282c34;
  height: 3vh;
}
.movie-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
