body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.pixelify-sans-400 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
