.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    color: var(--color-1);
}

.movie-card-img:hover{
    filter: brightness(50%);
}

.movie-card-title {
    margin: 10px;
}
.movie-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.movie-card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-card-rating{
    display: flex;
    align-items: center;
}

.watch-btn, .like-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.icon {
    color: var(--color-1);
    font-size: 20px;
}

.enlarge-on-hover {
    transition: transform 0.2s;
}

.enlarge-on-hover:hover {
    transform: scale(1.08);
}

@media (min-width: 375px) {
.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    color: var(--color-1);
}
}
@media (min-width: 576px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .movie-card-container {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
