.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50vh;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.movie-card-img:hover{
    filter: brightness(50%);
}

.movie-card-title {
    margin: 10px;
}
.movie-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.movie-card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watch-btn, .like-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}
